.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #c6b986;
    padding: 4px 8px;
    margin-bottom: 4px;
}

.headerLink {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 0.5rem;
}

.navLink {
    background-color: #1d283a;
    color: white;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0);
}