.container {
    composes: container from "./HomePage.module.css"
}

.formSection {
    display: flex;
    flex-direction: column;
}

.titleLabel {
    font-weight: bold;
    font-size: 1.4rem;
}

.titleInput {
    padding: 8px;
    border-radius: .5rem;
    border: solid 1px #c6b986;
}

.separator {
    margin: 0.75rem 0;
    border: none;
    border-top: 1px solid #c6b986;
}

.editorContainer {
    height: 600px;
}

.fieldset {
    border: solid 1px #c6b986;
    border-radius: .5rem;
}

.legend {
    font-weight: bold;
    font-size: 1.2rem;
}

.errList {
    background-color: #ffeaea;
    border: 1px solid #ffb3b3;
    color: #d93025;
    padding: .75rem 2rem;
    border-radius: 8px;
    font-size: .9rem
}

.submitBtn {
    width: 100%;
    background-color: #1d283a;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    padding: .5rem
}