.container {
    padding: 0.75rem 0.5rem;
}

.title {
    margin-bottom: 1rem;
    line-height: 1.2;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.btnContainer {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    background-color: #1d283a;
    border-radius: 0.5rem;
    padding: 4px;
}

.btn {
    width: 100%;
    border: none;
    border-radius: .5rem;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    color: #1d283a;
    background-color: #fef3c7;
}

.activeBtn {
    color: white;
    background-color: #1d283a;
}

.post {
    padding: 8px;
    border-radius: .5rem;
    margin-bottom: 0.5rem;
    border: solid 1px #c6b986;
    background-color: #ffea94;
}

.postTitle {
    font-size: 1.2rem;
    line-height: 1.3;
    text-wrap: auto;
}

.postTitle a {
    color: #2563eb;
    text-decoration: none;
}

.postInfo {
    margin: 0.25rem 0;
    color: #555;
}

.separator {
    margin: .5rem 0;
    border: none;
    border-top: 1px solid #c6b986;
}

.postActionBar {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.deleteBtn,
.actionLink {
    color: white;
    padding: 4px;
    font-weight: bold;
    border-radius: 8px;
}

.actionLink {
    border: solid 1px rgba(0, 0, 0);
    background-color: #1d283a;
    text-decoration: none;
    text-align: center;
}

.dltForm,
.actionLink,
.deleteBtn {
    width: 100%;
}

.deleteBtn {
    background-color: hsl(0, 100%, 67%);
    border: solid 1px hsl(0, 50%, 30%);
}