.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #ffea94;
    border: solid 1px #c6b986;
    width: min(100%, 500px);
}

.formSection {
    display: flex;
    flex-direction: column
}

.label {
    font-weight: 700
}

.input {
    border-radius: .5rem;
    border: solid 1px #c6b986;
    padding: 4px 8px
}

.input:focus {
    outline: none;
    box-shadow: 0 0 5px #312c1c80;
}

.submitBtn {
    margin-top: .7rem;
    background-color: #1d283a;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: .5rem;
    padding: .5rem
}

.error {
    background-color: #ffeaea;
    border: 1px solid #ffb3b3;
    color: #d93025;
    padding: .5rem;
    text-align: center;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: bold;
}

.signupLink {
    text-align: center
}