.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.text {
    font-size: 1.4rem;
    font-weight: bold;
}

.loginLink {
    composes: navLink from "./AppLayout.module.css"
}